* {
    font-family: 'Montserrat', sans-serif;;
}

/* navbar selectors */
.navbar {
    background: none;
}

.navbar-brand {
    opacity: 75%;
}

.navbar-toggler {
    border: none;
}

.btn {
    color: white;
    transition: 0.2s ease;
    opacity: 70%;
}

.dropdown-menu {
    background: rgba(0,0,0,.2);
    border: none;
}

.dropdown-item {
    color: white;
}

.btn:hover {
    opacity: 100%;
    color: white;
}

.form-control,
.form-control:focus {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-style: italic;
    opacity: 90%;
}

.dropdown-item {
    cursor: pointer;
}

/* body selectors */
body {
    background: linear-gradient(rgba(0,174,245,1) 27%, rgba(0,212,255,1) 100%);
    color: white;
}

.main-location {
    font-size: 2rem;
}

.main-temp {
    font-size: 4rem;
}

.main-condition-icon {
    width: 100px;
}

.forecast-condition-icon {
    width: 50px;
}
